body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: #1e293b;
}

section {
  padding: 40px;
  border-bottom: 1px solid #334155;
}

h2 {
  color: #38bdf8;
}

ul {
  list-style: none;
}

li {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
  border: none;
}

button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}
